#app #main {
  width: 70%;
}

#modificarListado {
  display: flex;
}

#agregarProducto {
  width: 50%;
}

#modListado {
  width: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;

}

table, th, td {
  border: 1px solid;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}
td {
  text-align: center;
}

tr:nth-child(even){background-color: #afafaf;}

#botonesProducto button{
  margin-left: 5px;
}

#CarritoProducto {
  width: 25%;
  float: right;
  margin-right: 25px;
  text-align: center;
}